th, td {
    border: 3px solid grey;
    padding: 8px;
}
td {
    text-align: center;
    color: blue;
    font: bold 15px arial, sans-serif;
}

h1 {
    background-color: green;
    color: white;
    
}
button {

    background-color: blue;
    font-size: larger;
    font: bold 15px arial, sans-serif;
    color: white;
    cursor: pointer;

}